<%- include('main'); -%>

<h1><%= title %></h1>

<a href="/cm/prices"><button type="button" class="btn btn-dark">Price Watch</button></a>
<a href="/cm/2"><button type="button" class="btn btn-dark">Report 2</button></a>